.MoreInfoBtn {
    padding: 15px 165px;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
